<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="login-form">
    <form>
        <input type="text" [(ngModel)]="givenUser" name="givenUser" placeholder="Username" required="required">
        <input type="password" [(ngModel)]="givenPass" name="givenPass" placeholder="Password" required="required">
        <div class="input-group-prepend">
          <button (click)="login()" class="btn btn-outline-secondary" type="button">Log In</button>
        </div>
    </form>
</div>
</body>
</html>
